*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:white;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

.container{
  position: relative;

}
.clock{
  width:350px;
  height: 350px;
  border-radius: 50%;
  background-color:rgba(91, 92, 91, 0.925);
  border: 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock span{
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}
.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 1rem;
}
.clock::before{
  content: "";
  position: absolute;
  width:8px;
  height:8px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.hands{
  display:flex;
  align-items: center;
  justify-content: center;
  align-items: flex-end;

}

.hands i{
  position: absolute;
  background-color: var(--clr);
  width:5px;
  height: var(--h);
  border-radius: 50px;
}







